*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: url('assets/logo\ \(2\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(144, 122, 3, 0.5);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

form{
    box-shadow: inset 0 0 30px rgba(255, 217, 0, 0.786);
    padding: 40px 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    color: white;
    background: rgba(43, 43, 43, 0.547);
    backdrop-filter: blur(10px);
    border-radius: 40px;
}
form h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
    transition: all 0.3s ease-in-out;
}
form h2:hover{
    border-bottom: 5px solid gold;
}
form label{
    font-weight: 200;
    font-size: 1.3rem;
    margin: 5px;
}
form input{
    border: none;
    padding: 0 10px;
    width: 80%;
    height: 50px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(33, 32, 32, 0.729);
    color: gold;
    transition: all 0.2s ease-in-out;
}
form input:focus{
    box-shadow: inset 0 0 10px rgba(255, 244, 184, 0.786);
}
form button{
    width: 70%;
    height: 50px;
    background-color: black;
    color: gold;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
form button:hover{
    background-color: gold;
    color: black;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}
p{
    padding: 10px;
}