*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

a{
    text-decoration: none;
}


.main nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5%;
    /* border-radius: 30px; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(250, 235, 215, 0.358);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 1;
}
.main nav .logo{
    width: 100px;
}
.main nav .logo img{
    width: 100%;
}
.main nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.main nav ul li a{
    text-decoration: none;
    color: black;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.main nav ul li a:hover{
    color: gold;
    background-color: black;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.642);
}
.main nav .log-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.main nav .log-btns .btn{
    border: none;
    background-color: black;
    color: gold;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
}
.main nav .log-btns .btn:hover{
    background-color: gold;
    color: black;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}



    /* HERO SECTION */

.back-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -2;
    }
}
@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -2;
    }
}

.main .hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px;
    z-index: -1;
}
.main .hero h1{
    font-size: 6rem;
    text-align: center;
    color: gold;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 2px 2px 5px black;
    /* margin-bottom: 10px; */
    font-family: 'Brush Script MT', cursive;
}
.main .hero p{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 3px black;
    margin-bottom: 30px;
}
.main .hero button{
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: gold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.main .hero button:hover{
    background-color: gold;
    color: black;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}




    /* PRODUCT SECTION */

.product{
    padding: 50px 4%;
    position: relative;
    top: -40px;
}
.product h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
    transition: all 0.3s ease-in-out;
}
.product h1:hover{
    border-bottom: 3px solid gold;
}

.product .man-prod,
.product .wom-prod,
.product .chi-prod
{
    display: flex;
    flex-direction: column;
}
.product .man-prod h2,
.product .wom-prod h2,
.product .chi-prod h2
{
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 40px;
}
.product .man-prod p,
.product .wom-prod p,
.product .chi-prod p
{
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-left: 40px;
}

.product .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: rgb(51, 51, 51);
    /* box-shadow: 0 0 20px gold; */
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
}
.product .boxes .box{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: rgb(29, 29, 29);
    /* box-shadow: inset 0 0 20px gold; */
    border: 2px solid rgba(255, 255, 255, 0.438);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
}
.product .boxes .box img{
    height: 80%;
    border-radius: 30px;
}

.product .boxes .box .text{
    height: 20%;
    padding: 10px;
    color: white;
    font-size: 12px;
    overflow: hidden;
}
.product .boxes .box .text p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .boxes .box .text p img{
    width: 60px;
}
.product .boxes .box .text p span{
    font-size: 14px;
}
.product .boxes .box .text a{
    display: flex;
    justify-self: center;
    color: white;
    font-size: 16px;
    padding: 12px 15px;
    gap: 5px;
    border-radius: 10px;
    background-color: green;
    transition: all 0.2s ease-in-out;
}
.product .boxes .box .text a:hover{
    background-color: white;
    color: green;
}


.meas{
    padding: 50px 10%;
    color: black;
    background-color: rgb(196, 167, 1);
}
.meas h1{
    text-align: center;
    color: black;
    margin-bottom: 30px;
    font-size: 3rem;
    transition: all 0.3s ease-in-out;
}
.meas h1:hover{
    border-bottom: 3px solid white;
}
.meas p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.meas .fill{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}
.meas .fill label{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 20px;
}
.meas .fill input{

    margin-bottom: 20px;
    background-color: black;
    color: gold;
    border: none;
    border-radius: 10px;
    height: 50px;
    font-size: 1.1rem;
    padding: 0 15px;
    transition: all 0.2s ease-in-out;
}
.meas .fill input:focus{
    box-shadow: inset 0 0 10px gold;
}
.meas .fill .btn{
    background: gold;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    /* width: 70%; */
    transition: all 0.2s ease-in-out;
}
.meas .fill .btn:hover{
    background: black;
    color: gold;
}


    /* ABOUT SECTION */

.about{
    padding: 50px 10%;
}
.about h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
    transition: all 0.3s ease-in-out;
}
.about h1:hover{
    border-bottom: 3px solid gold;
}

.about .cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.about .cont .text{
    flex: 1;
    line-height: 1.6;
    font-size: 1.4rem;
}
.about .cont .image{
    flex: 1;
    overflow: hidden;
    height: 500px;
    border-radius: 50px;
}
.about .cont .image img{
    width: 100%;
}





        /* HR LINE */

.main .hr-line{
    width: 70%;
    opacity: 0.3;
    height: 2px;
}


    /* FOOTER SECTION */

.main .footer{
    display: flex;
    flex-direction: column;
    margin: 70px 0px 42px 80px;
    font-size: 14px;
    color: rgb(102, 102, 102);
    gap: 25px;
}
.main ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}










@media (max-width: 768px) {

    .main nav ul{
        flex-direction: column;
    }

    .main nav ul li a{
    font-size: 14px;
    }
    .main nav .log-btns .btn{
        font-size: 14px;
    }

        /* HERO */
    .main .hero h1{
    font-size: 3rem;
    }
    .main .hero p{
    font-size: 1rem;
    }
    .main .hero button{
    padding: 10px 20px;
    font-size: 1rem;
    }

        /* PRODUCT */
    .product{
    padding: 50px 0;
    }
    .product h1{
        font-size: 2.5rem;
    }
    .product .man-prod h2,
    .product .wom-prod h2,
    .product .chi-prod h2
    {
        font-size: 1.4rem;
    }
    .product .man-prod p,
    .product .wom-prod p,
    .product .chi-prod p
    {
        font-size: 1rem;
    }
    .product .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }


        /* MEASUREMENT */
    .meas{
    padding: 50px 4%;
    }
    .meas h1{
        font-size: 2.5rem;
    }
    .meas .fill{
    width: 100%;
    }


        /* ABOUT */
    .about{
    padding: 50px 4%;
    }
    .about h1{
        font-size: 2.5rem;
    }
    .about .cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    }


        /* HR LINE */

    .main .hr-line{
        width: 100%;
        opacity: 0.3;
        height: 2px;
    }


        /* FOOTER SECTION */

    .main .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 0 0 0;
        margin: 20px 10px;
        font-size: 8px;
        color: rgb(102, 102, 102);
        gap: 10px;
    }
    .main ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    }
}